{% extends 'base.html' %}

{% block conteudo %}

<br>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Data de nascimento</th>
            <th>E-mail</th>
            <th>Link GitHub</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>

        {% for pessoa in pessoas %}
        <tr>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.sobrenome }}</td>
            <td>{{ pessoa.data_nascimento|date:"d/m/Y" }}</td>
            <td>{{ pessoa.email }}</td>
            <td>{{ pessoa.link_git }}</td>
            <td>
                {% if pessoa.ativo %}
                Ativo
                {% else %}
                Desativado
                {% endif %}
            </td>

            {% endfor %}
        </tr>

    </tbody>
</table>

{% endblock %}