{% extends 'base.html' %}

{% block titulo %}Lista de Pessoas{% endblock %}

{% block conteudo %}

<div class="table-responsive" style="padding-top: 30px;">
    {% include 'parciais/_messages.html' %}
    <table class="table table-bordered table-hover" style="width: 100%;">
        <thead class="thead-light">
            <tr class="text-center" style="padding-top: 30px;">
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Data de nascimento</th>
                <th scope="col">E-mail</th>
                <th scope="col">Link GitHub</th>
                <th scope="col">Status</th>
                <th scope="col" colspan="2">Ações</th>
            </tr>
        </thead>
        <tbody>

            {% for pessoa in pessoas %}
            {% if pessoa.ativo %}
            <tr class="table-success">
                {% else %}
            <tr class="table-danger">
                {% endif %}

                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.sobrenome }}</td>
                <td>{{ pessoa.data_nascimento|date:"d/m/Y" }}</td>
                <td>{{ pessoa.email }}</td>
                <td><a href="{{pessoa.link_git}}">{{ pessoa.link_git }}</a></td>
                <td>
                    {% if pessoa.ativo %}
                    Ativo
                    {% else %}
                    Desativado
                    {% endif %}
                </td>
                <td><a href="{% url 'pessoa.editar' pessoa.pk %}">Editar</a></td>
                <td><a href="{% url 'pessoa.remover' pessoa.pk %}">Excluir</a></td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
<div class="mr-auto ml-auto text-center mt-4 mb-4">
    <a href="{% url 'pessoa.novo' %}" style="width: 150px; margin-right: 20px;"
        class="btn btn-outline-secondary btn-lg mt-4">Formulário</a>
    <a href="{% url 'index' %}" style="width: 150px;" class="btn btn-outline-secondary btn-lg mt-4">Início</a>
</div>

{% include 'parciais/_pagination.html' %}


{% endblock %}